.topicos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .topicos__lista {
    list-style-type: none;
    padding: 0;
  }
  
  .lista__button {
    display: flex;
  }

  .lista__titulo {
    color: #fff;
  }

  .lista__texto {
    color: #fff;
    padding: 0;
    margin: 0;
 }
  
  .lista__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    padding: 0;
    font-weight: 700;
  }

  .container__conteudo {
    margin: 0 0.5em 0.5em 0.5em;
  }

  #button__resumo {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 1em;
    padding: 1em 4em;
    font-size: 1em;
    font-weight: 700;
    width: 100%;
  }
  
  #lista_container_resumo {
    flex-direction: column;
  }
  
  #lista_itens-resumo {
    border: 2px solid #fff;
    border-top: none;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 0 1em 0;
    padding: 1em;
    display: none;
  }
  
  #button__habilidades {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 1em;
    padding: 1em 4em;
    font-size: 1em;
    font-weight: 700;
    width: 100%;
  }
  
  #lista_container_habilidades {
    flex-direction: column;
  }
  
  #lista__itens-habilidades {
    border: 2px solid #fff;
    border-top: none;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 0 1em 0;
    padding: 1em;
    display: none;
  }
  
  #button__experiencias {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 1em;
    border-radius: 1em;
    padding: 1em 4em;
    font-size: 1em;
    font-weight: 700; 
    width: 100%; 
  }
  
  #lista_container_experiencias {
    flex-direction: column;
  }
  
  #lista__itens-experiencias {
    border: 2px solid #fff;
    border-top: none;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 0 1em 0;
    padding: 1em;
    display: none;
  }
  
  #button__formacao {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 1em;
    border-radius: 1em;
    padding: 1em 4em;
    font-size: 1em;
    font-weight: 700;  
    width: 100%;
  }
  #lista__itens-formacao {
    border: 2px solid #fff;
    border-top: none;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 0 1em 0;
    padding: 1em;
    display: none;
  }
  
  #lista_container_formacao {
    flex-direction: column;
  }
  
  #button__cursos {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 1em;
    border-radius: 1em;
    padding: 1em 4em;
    font-size: 1em;
    font-weight: 700;
    width: 100%;
  }
  
  #lista_container_cursos {
    flex-direction: column;
  }
  
  #lista__itens-cursos {
    border: 2px solid #fff;
    border-top: none;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 0 1em 0;
    padding: 1em;
    display: none;
  }
  
  #button__certificados {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 1em;
    border-radius: 1em;
    padding: 1em 4em;
    font-size: 1em;
    font-weight: 700;  
    width: 100%;
  }
  
  #lista_container_certificados {
    flex-direction: column;
  }
  
  #lista__itens-certificados {
    border: 2px solid #fff;
    border-top: none;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 0 1em 0;
    padding: 1em;
    display: none;
  }
  